@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vilaka";
  src: url(./assets/fonts/vilaka.ttf);
}

@font-face {
  font-family: "TopModern";
  src: url(./assets//fonts/topmodern.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}